test-nsec3.example. 300 IN DNSKEY 257 3 8 AwEAAaWuKNZsp+uPkYNQD+S06FCcaJCsHosQME98B9PYmi+NuHTFKsmIyxxQGr7cGYYsK5Z4kV0QA5hMBgkB/t3vbn8V/O6joE6zZTNqY6Omr5FMW9cyxdP1xxt0H6nEJLJNBJVrFBkoH0j+XLH521LRRt9p+2e1CutXoy8CXQdTyiE76Q16sOGoP7Ves1VabQJ68t3Fr+Htgr4CUnyN85KHj3q58MhXtXvyljLlFIX/WBlNvEOUJaBtGWfQh1nTLKvn2Bb9Qth2REp7RSgN+6Bfb/DgFaHd83rGmAJWP6U3BiEanHM4uCa9im5/89Y5ago7JTpv7B+x6INwOzzE9UulQss=
