test-nsec3.example. 300 IN DNSKEY 257 3 8 AwEAAbTplJcs+kw3om8tAJR9m6L7rDbxtRoJht4QvBIcWwPV5jHe3+GZaKeiJUmGWLLrZi7r2ojACbKwTojmkpr+hlhiJ7UWaAHmi7IqblMJBGIjHTk07UKZ95ZGc7x9TInc2/7WjeWHgInaKPZ8MpYQ9WJBwDI/PfM37i3x7VRvhcjNXsib3GRb3hDhjwJN36K2PXREZwqeMJ730TezUroaHo6dANUyXSrlktPfjWc82EUorVhEUyXoq7nF080J2OVRjmNpyoJIGbJ9NVKUWf+R+3krbeQnc1rvZ+sOCNVffE76AiPKIp5I+Oy6r4fMLn9ckZZiRuABDjuO6+3RqnTPrzc=
