test-valid-rsa.example. 300 IN DNSKEY 257 3 8 AwEAAcWtfeU+xlclOTxC48EldW8z8ES8bCOQ0osQ8QeoGI65OlrYReeb3SKPbiyHP2P3RPAYm3nEzOq35ofXNAGU3o/iTntr6SB8G5lWkZcp2IqEGfgLGTxIq7fIS6wVKKXzOPDygkoFDV0NfEGrkDlk5tolg4fFKrqpv6JBqmoBqzvkRVD3SFZsLuVqXf0Jj3H7yUGvA3CsFLgkWV302FrnJhL5TeVmDTgbA6FhZuZhbvhXYqMRTvT2ZgVaWGz0E1Sicix13Uhnhhim8lbx6PJclmzXMTzz97aoqvKiCGJuRDiG/u90XgKWFJi9/E0TFJRVG5ytH7exHmkQUeMtRML9Xvc=
